.d-flex-w-auto-mb-3 {
    justify-content: center;
    flex: auto;
    padding: 20px;
    max-width: 900px;
}

.searchBtn {
    background-color: #FFBD01;
    border-color: #FFBD01;
    color: #473529;
}