:root {
  --black: ;
  --white: ;
  --accent-color: ;
  --background-color: ;
  --header-height: 12vh;
  --photo-height: 21vh;
  --footer-height-mobile: 10vh;
}

body {
  font-family:  
}

/* others below */
