.text-area {
  width: 50%;
  margin-top: 10%;
  margin-right: 10%;
}
 
#search-btn { 
  background-color: #FFBD01;

}

.card-element {
  float: left;
  margin-top: 50px;
  margin-left: 10%
}

#typeText {
  margin: 15px;
}

.submit-btn {
  margin: 15px;
  left: 40%;
  background-color: #FFBD01;
}
