.text-area {
  width: 50%;
  margin-top: 10%;
  margin-right: 10%;
}

#search-btn {
  background-color: #ffbd01;
}

#search-btn:hover {
  background-color: #88B8A1;
}


.card-element {
  float: left;
  margin-top: 75px;
}

#typeText {
  margin: 15px;
}

.submit-btn {
  margin: 15px;
  background-color: #ffbd01;
}
#cardOption{
  max-height:350px;
  overflow:auto
}

.submit-btn:hover {
  background-color: #88b8a1;
}

@media (max-width: 1023px) {
.div.container{
  min-width: 200px;
}

.text-area{
  width: auto;
}

.card-element{
  float: none;
}

.typeText {
  margin: 15px;
  min-width: 200px;
}

}