.text-area {
  width: 50%;
  margin-top: 10%;
  margin-right: 10%;
}

#search-btn {
  background-color: #ffbd01;
}

#search-btn:hover {
  background-color: #88B8A1;
}


.card-element {
  float: left;
  margin-top: 50px;
  margin-left: 10%;
}

#typeText {
  margin: 15px;
  min-width: 400px;
}

.submit-btn {
  margin: 15px;
  left: 40%;
  background-color: #ffbd01;
}

.submit-btn:hover {
  background-color: #88b8a1;
}

@media (max-width: 1325px) {
 .submit-btn{

 }
 #typeText{
  display: flex;
  order: 2;
  min-width: 300px;
 }
 .card-element{
  display: flex;
  order: 2;
 }
 #search-btn{
  display: flex;
  order: 2;
 }
}