.mb-3 {
    padding: 10px;
    justify-content: center;
    margin: 30px;
    width: flex;
}

#signupBtn {
    background-color: #FFBD01;
    border-color: #FFBD01;
    max-width: 250px;
    margin-left: 38%;
}

.btn {
    background-color: #FFBD01;
    border-color: #FFBD01;
    max-width: 250px;

}

.btn2:hover {
    background-color: #88B8A1;
  }

  .form-input{
    margin: 10px
  }

  form {
    text-align: center;
    margin-top: 50px;
  }
