.mb-3 {
    padding: 10px;
    justify-content: center;
    margin: 30px;
    width: flex;
}

#signupBtn {
    background-color: #FFBD01;
    border-color: #FFBD01;
    max-width: 250px;
}

.btn {
    background-color: #FFBD01;
    border-color: #FFBD01;
    max-width: 250px;
}

.btn2:hover {
    background-color: #88B8A1;
  }